body {
        font-family: 'Roboto', sans-serif;
        background: rgba(250, 248, 248, 0.5);
}

.background {
        background: rgba(0, 0, 0, 0.2);
}

li {
        border-right: 1px solid grey;
        padding: 0px 70px;
        margin: 0px 30px;
}

a {
        padding: 20px;
}

a:hover {
        background-color: rgba(126, 112, 112, 0.1);
}

h1 span {
        color: #6b16cc;
}

.slide img {
        max-height: 70vh;
}

.icon-instagram{
        color:rgba(235, 89, 32, 0.966);
};
.icon-facebook{
        color: rgba(64, 53, 228, 0.8);
};
.icon-twitter{
        color: rgba(9, 23, 155, 0.9);
}
.icon-linkedin{
        color: rgba(14, 3, 180, 0.9);
}