body {
        font-family: 'Roboto', sans-serif;
        background: rgba(249, 249, 250, 0.2);
}

.background {
        background: rgba(0, 0, 0, 0.2);
}

li {
        border-right: 1px solid grey;
        padding: 0px 20px;
        margin: 0px 10px;
}

a {
        padding: 20px;
}

a:hover {
        background-color: rgba(126, 112, 112, 0.1);
}

h1 span {
        color: #6b16cc;
}

.slide img {
        max-height: 70vh;
}